{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/account-styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/account-msg-styles.css' %}">

    {% if validlink %}
        <h1>Please enter (and confirm) your new password.</h1>
        
        <!-- password confirmation form -->
        <form class="login-form" method="post" action="">
            {% csrf_token %}
            <ul>
                <li> 
                    <label for="id_new_password1">New password:</label></td> 
                    {{ form.new_password1.errors}} {{ form.new_password1 }}
                </li>
                <li>
                    <label for="id_new_password2">Confirm password:</label></td>
                    {{ form.new_password1.errors }} {{ form.new_password2 }}
                </li>
                <li>
                    <input type="submit" value="Reset Password" />
                </li>
            </ul>
        </form>

    {% else %}
        <!-- Display error message if password was unable to be reset -->
        <h1>Password reset failed</h1>
        <p class="info-msg">The password reset link did not work. Please try requesting a new link.</p>
    {% endif %}
{% endblock %}