body {
  display: block;
  background: none;
}

li {
  list-style: none;
}

main {
  width: 70vw;
}

h1 {
  font: 5em "Staatliches", sans-serif;
  max-width: 90%;
  padding-left: 3vw;
  text-align: left;
}

.question-votes {
  font-size: 1em;
  color: var(--main-accent-color);
  padding-right: 5vw;
}

.publication-info {
  display: block;
}

.publication-info li {
  padding-right: 2vw;
  font: 2em "Staatliches", sans-serif;
  letter-spacing: 0.5px;
  color: var(--dark-grey);
}

.publication-info li strong {
  font-size: 1em;
  color: var(--main-black-color);
}

.topic-list {
  display: flex;
  padding-left: 0vw;
  justify-content: center;
}

.topic-list li {
  margin-right: 1vw;
  font-size: 1.5em;
  color: white;
  border-radius: 20px;
  padding: 4px 10px;
  background-color: var(--main-accent-color);
  height: 25px;
}

.description {
  margin-top: 2.5vh;
  min-height: 60%;
  box-shadow: 5px 10px 18px var(--dark-grey);
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  font: 1.4em "Roboto", sans-serif;
}

.answer-list {
  margin-top: 5vh;
  padding-left: 0vw;
}

.answer-list li {
  display: flex;
  align-items: center;
  box-shadow: 5px 10px 18px var(--dark-grey);
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 4vh;
}

.votes {
  padding-right: 2vw;
}

.answer-votes {
  font: 3em "Staatliches", sans-serif;
  color: var(--main-accent-color);
  padding-right: 6px;
}

.answer-container {
  width: 100%;
}

.answer-info {
  padding-left: 0px;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  display: block;
  justify-content: left;
}

.answer-info li {
  margin-top: 5px;
  margin-right: 1vw;
  font: bold 1.4em "Roboto", sans-serif;
  background-color: var(--main-accent-color);
  box-shadow: 2px 5px 9px var(--dark-grey);
  padding: 7px 14px;
}

.answer-list li strong {
  font-size: 1em;
  right: auto;
}

.answer-description {
  text-align: left;
  padding: 10px;
  font: 1.4em "Roboto", sans-serif;
  margin: 0px;
}

.add-answer {
  text-align: right;
  margin-right: 1vw;
}

.add-answer a,
.answer-options a {
  font: 1.8em "Staatliches", sans-serif;
  text-decoration: none;
  color: var(--main-black-color);
  background-color: var(--main-accent-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 0.5vw;
}

.add-answer a:hover,
.answer-options a:hover {
  background-color: var(--main-black-color);
  color: white;
}

.answer-options {
  text-align: right;
  margin: 1vw;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    background: url(/static/images/base-background.svg) no-repeat top left /
      cover;
  }

  main {
    margin-left: 3vw;
  }

  .publication-info {
    display: flex;
  }

  .topic-list {
    padding-left: 2vw;
  }

  .answer-info {
    display: flex;
  }

  .answer-info li {
    margin-top: 0px;
  }
}
